[BASIC]
good-names=f,  # filename
           i,
           j,
           k,
           ns,  # namespace
           ex,
           Run,
           _

[IMPORTS]
preferred-modules =
    unittest:pytest,

[MESSAGES CONTROL]

disable =
    # On purpose disabled as we rely on black
    line-too-long,
    # local imports do not work well with pre-commit hook
    import-error,
    # Temporary disable duplicate detection we remove old code from prerun
    duplicate-code,
