name: release

on:
  release:
    types: [published]

jobs:
  before-release:
    uses: ansible/ansible-compat/.github/workflows/tox.yml@main

  release:
    name: release ${{ github.event.ref }}
    needs: before-release
    # unable to use environment with uses/with, basically cannot reuse release pipelines
    environment: release
    runs-on: ubuntu-22.04

    env:
      FORCE_COLOR: 1
      PY_COLORS: 1
      TOX_PARALLEL_NO_SPINNER: 1

    steps:
      - name: Switch to using Python 3.9 by default
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install tox
        run: python3 -m pip install --user "tox>=4.0.0"
      - name: Check out src from Git
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # needed by setuptools-scm
      - name: Build dists
        run: python -m tox -e pkg
      - name: Publish to pypi.org
        uses: pypa/gh-action-pypi-publish@unstable/v1
        with:
          password: ${{ secrets.pypi_password }}
